{% extends 'base.html' %}
{% block title %}
    Що таке DBN
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_model_info.css') }}">
{% endblock %}
{% block navlinks %}
    <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('index')}}">Головна</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('model_info')}}">Байєсова модель</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('existing_prods')}}">Наявні продукти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('results')}}">Візуалізація результатів</a>
            </li>
{% endblock %}
{% block content %}
    <h1>Динамічна Байєсова мережа (DBN) </h1>
    <p>
    Байєсова клікова модель є, взагалі кажучи, набором ймовірнісних співвідношень, які описують процес взаємодії
    з певними веб-документами одного або багатьох користувачів. Графічно вона є динамічною Байєсовою мережею, тобто
    ациклічним направленим графом, в якому вершини є випадковими подіями, а ребра є зображенням умовних залежностей
    між цими подіями.
    Нехай стоїть задача змоделювати кліки користувачів на веб-документи, які пов'язані з деяким пошуковим запитом і
        які розташовані на сторінці пошукової видачі. Розглянемо перші 10 результатів у видачі, припускаючи, що користувачі
    переглядають їх вертикально згори вниз. Тоді в рамках Байєсової клікової моделі для деякого веб-документа на позиції i
    розглядаються чотири випадкові події.
    </p>
    <ul>
    <li>E<sub>i</sub> – випадкова подія –  ознайомитись з його попереднім описом (наприклад, сніпетом в пошуковій мережі);</li>
    <li>C<sub>i</sub>  – випадкова подія – клік на документ;</li>
    <li>A<sub>i</sub>  – випадкова подія – зацікавитись документом;</li>
    <li>S<sub>i</sub>  – випадкова подія – чи лишився користувач задоволеним результатом пошуку після відвідування URL-сторінки.</li>
    </ul>
    <center><img class="model-info-img schema" src="{{ url_for('static', filename= 'img/model_schema1.PNG') }}"></center>
    <p>
    Для побудови такої графічної моделі існуюють спеціальні програмні інструменти. Одним з таких є Bayes Server. Схема Байєсової
    клікової моделі, побудованої в Bayes Server виглядає так:
    </p>
    <center><img class="model-info-img visual" src="{{ url_for('static', filename= 'img/model_schema2.PNG') }}"></center>
    <p>
    Величини <i>P(E<sub>i+1</sub>=1 | E<sub>i</sub>=1, S<sub>i</sub>=0)=γ</i>, <i>P(A=1)=a<sub>u</sub></i>, <i>P(S=1|C=1)=s<sub>u</sub></i>
    розглядаються як <b>параметри моделі</b>. Тоді як параметр γ є налаштовуваним, s<sub>u</sub> та a<sub>u</sub> оцінюються
    методом апостеріорного максимуму (MAP) за допомогою алгоритму очікування-максимізації (EM). Параметр a<sub>u</sub>
    є еквівалентним до CTR документа <i>u</i>, якби він був на першій позиції, що є незміщеним прогнозом CTR для даного веб-документа.
    </p>
{% endblock %}